body,html{
    width: 100%;
    height: 100%;
    background-color:  rgb(231, 231, 244);
}
#main {
    height: 100%;
    width: 100%;
    padding-top: 10rem;
}
#main-content{
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 40%;
    height: 50%;
    /* width: 400px; */
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    color: #333;
}

#ques h2{
    /* background-color: red; */
    font-size: 3.5rem;
    margin: 2rem 0 1rem;
    font-weight: 700;
    padding: 1rem 0;
}
.opts{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.radio-input input{
    height: 23px;
    width:18px;
}
.label {
    font-size: 2.5rem !important;
    /* color: red;  */
}
.progress-bar{
    /* padding: 3rem; */

    display: flex;
    flex-direction: column;
}
.progress-bar span[role="progressbar"] {
    
    display: inline-block;
    height: 1.4rem;
    width: 30rem;
    border-radius: 1rem;
    background-color: #ccc
  }
  .dynProgress1{
    /* height: 100%; */
    height: 1rem !important;
    width: 0%;
    display: inline-block;
    border-radius: 1rem;
    background-color: #3F55AC;
  }
  .dynProgress2{
    /* height: 100%; */
    height: 1rem !important;
    width: 0%;
    display: inline-block;
    border-radius: 1rem;
    background-color: #3F55AC;
  }
  .progress-bar:nth-child(2){
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  
.opts-label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#desctime{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#desctime p{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
    color: #696767;
}

/* Style the modal */
.modal {
    width: 100%;
    height: 100%; 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #888;
    width: 30%;
    height: 30%; 
  }
  .modal-content p{
    font-size: 2rem;
    font-weight: 700;
  }
  .modal-content button{
    font-size: 2rem;
    font-weight: 700;
    margin:2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3F55AC;
    color: #fff;
  }
  #confirmationModal{
    height: 100%;
    width: 100%;
  }
  
  /* Close button */
  .close {
    align-self: end;
    color: #aaa;
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

#footer {
    /* height: 40rem; */
    width: 100%;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    
    #main {
        height: 100%;
        width: 100%;
        padding-top: 5rem;
    }
    #main-content{
        
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #container{
        width: 90%;
        height: 40%;
        /* width: 400px; */
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        /* padding: 2rem 3rem; */
        color: #333;
    }
    
    #ques h2{
        /* background-color: red; */
        font-size: 2.5rem;
        margin: 2rem 0 1rem;
        font-weight: 700;
        padding: 1rem 0;
    }
    .opts{
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }
    .radio-input input{
        height: 23px;
        width:18px;
    }
    .label {
        font-size: 2rem !important;
        margin-bottom: 0.5rem;
        /* color: red;  */
    }
    .progress-bar{
        /* padding: 3rem; */
        display: flex;
        flex-direction: column;
    }
    .progress-bar span[role="progressbar"] {
        
        display: inline-block;
        height: 1.4rem;
        width: 20rem;
        margin-bottom: 0.4rem;
        border-radius: 1rem;
        background-color: #ccc;
      }
      .progress-bar:nth-child(2){
        margin-top: 2rem;
        font-size: 1.2rem !important;
      }
      
    .opts-label{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    #desctime{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    
    #desctime p{
        font-size: 1.2rem;
        font-weight: 400;
        padding: 1rem 0;
        color: #696767;
    }
    
    /* Style the modal */
    .modal {
        width: 100%;
        height: 100%; 
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        /* overflow: auto;  */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
    
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #888;
        width: 80%;
        height: 30%; 
      }
      .modal-content p{
        font-size: 2rem;
        font-weight: 700;
      }
      .modal-content button{
        font-size: 2rem;
        font-weight: 700;
        margin:2rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3F55AC;
        color: #fff;
      }
      #confirmationModal{
        height: 100%;
        width: 100%;
      }
      
      /* Close button */
      .close {
        align-self: end;
        color: #aaa;
        float: right;
        font-size: 3rem;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      
    
    #footer {
        /* height: 40rem; */
        width: 100%;
    }
    
}

/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #main {
        height: 70%;
        width: 100%;
        /* padding-top: 8rem; */
    }
   

    #container {
        width: 80%;
        height: 30%; 
        top: 30%;
    }
    #ques h2 {
        font-size: 2.5rem;
        margin: 1.5rem 0 1rem; 
        padding: 1rem 0;
    }

    .label {
        font-size: 1.6rem;
    }

    .progress-bar span[role="progressbar"] {
        height: 1.3rem; 
    }

    #desctime p {
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    .modal {
        width: 100%;
        height: 100%; 
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        /* overflow: auto;  */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
    
    .modal-content {
    width: 60%; /* Adjust the width for tablets */
    height: auto; /* Allow content to dictate height */
    margin: 20% auto; /* Adjust margin for tablets */
    padding: 1rem;
  }

  .modal-content p {
    font-size: 1.8rem; /* Adjust font size for tablets */
  }

  .modal-content button {
    font-size: 1.8rem; /* Adjust font size for tablets */
    margin: 1rem;
  }
}
